#barraLateralFija {
    height: 100%;
    position: fixed;
    width: 20%;
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
    padding: 1%;
}

#main{
    margin-top: 4%;
    height: 100%;
}

#barraLateralFija li{
    list-style: none;
    padding: 5%;
    border-bottom: 1px solid #e9ecef;
}

#barraLateralRetraible span {
    margin-right: 10px;
}

#contenido {
    margin-top: 2%;
    margin-left: 20%;
    padding: 1%;
}

.drop-area{
    border: 3px dashed #ccc;
    height: 250px;
    width: 600px;
    border-radius: 5px;
    display: flex;
    alaign-items: center;
    justify-content: center;
}

.drop-area.active{
    border-color: #b8d4fe;
    color: black;
    border: 2px dashed #618ac9;
}

.drop-area button{
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color:  #CCDB94;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.file-container{
    display: flex;
    alaign-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

#preview{
    margin-top: 10px;
}

.status-text{
    padding: 0 10px;
}

.success{
    color: green;
}

.failure{
    color: red;
}

#contenidoInputFiles{
    margin-top: 5%;
}

#contenidoInputFiles i{
    font-size: 40px;
}


@media (max-width: 767px){
    #main{
        margin-top: 20%;
    }
    #contenido {
        margin-left: 15%;
        padding: 1%;
    }
}

@media (max-width: 1270px){
    #barraLateralFija {
        margin-top: 2%;
    }
    #contenido{
        margin-top: 5%;
    }
}
