#barraLateralFija {
    height: 100%;
    position: fixed;
    width: 20%;
    background-color: #f8f9fa;
    border-right: 1px solid #e9ecef;
    padding: 1%;
}

#main{
    margin-top: 4%;
    height: 100%;
}

#barraLateralFija li{
    list-style: none;
    padding: 5%;
    border-bottom: 1px solid #e9ecef;
}

#barraLateralRetraible span {
    margin-right: 10px;
}

#contenido {
    margin-top: 1%;
    margin-left: 20%;
    padding: 1%;
}


@media (max-width: 767px){
    #main{
        margin-top: 25%;
    }
    #contenido {
        margin-left: 10%;
        padding: 1%;
    }
}